<%- include('includes/head') %>
  <%- include('includes/nav.ejs') %>

    <div class="container">
      <div class="row p-5">
        <div class="col-lg-2"></div>
        <div class="col-lg-5 m-auto border rounded p-3">
          <h1 class="text-center mb-5">Alterar password</h1>

          <%- include('includes/messages') %>

            <form action="/password/edit/<%= id %>" method="post">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              <div class="form-group">
                <label>Password actual</label>
                <input type="password" class="form-control" name="oldpassword" />
              </div>
              <div class="form-group">
                <label>Nova password</label>
                <input type="password" class="form-control" name="newpassword" />
              </div>
              <div class="form-group">
                <label>Confirmar nova password</label>
                <input type="password" class="form-control" name="checkpassword" />
              </div>
              <div class="mt-5">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <a href="/contacto/list" class="btn btn-danger">Cancelar </a>
              </div>
            </form>
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>

    <%- include('includes/footer') %>